baseURL: "https://CamomilleV.github.io"
languageCode: "en-us"
title: "Hugo Profile"
theme: hugo-profile

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

enableRobotsTXT: true

#services:
  #googleAnalytics:
    #id: G-MEASUREMENT_ID
  #disqus:
    #shortname: your-disqus-shortname

pagination:
  pagerSize: 3

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
    - identifier: AP
      name: AP et Projets
      title: AP et Projets
      url: /projets/
      weight: 1
    - identifier: Stages
      name: Stages
      title: Stages
      url: /stages/
      weight: 2
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Hugo Profile"
  description: Text about my cool site
  # staticPath: ""  # The path to serve the static files from
  favicon: "/fav.png"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether to add mathjax support on all pages. Alternatively, you can opt-in per page by adding `mathjax: true` in the frontmatter.
  mathjax: false

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    # disableThemeToggle: true
    # defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # When using hex codes for colors, quotations must be used along with the # sign
  # color:
  #   textColor: "#343a40"
  #   secondaryTextColor: "#6c757d"
  #   textLinkColor: "#007bff"
  #   backgroundColor: "#eaedf0"
  #   secondaryBackgroundColor: "#64ffda1a"
  #   primaryColor: "#007bff"
  #   secondaryColor: "#f8f9fa"

  #   darkmode:
  #     textColor: "#e4e6eb"
  #     secondaryTextColor: "#b0b3b8"
  #     textLinkColor: "#ffffff"
  #     backgroundColor: "#18191a"
  #     secondaryBackgroundColor: "#212529"
  #     primaryColor: "#ffffff"
  #     secondaryColor: "#212529"

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    brandName: "Hugo Profile" # Brand name for the brand | default is the title variable
    disableSearch: false
    # searchPlaceholder: "Search"
    stickyNavBar:
      enable : true
      showOnScrollUp : true
    enableSeparator: false
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: false
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Bonjour, je suis:"
    title: "Camille."
    subtitle: "Etudiante en BTS SIO."
    content: "Etudie dans le domaine de l'informatique depuis 3 ans, j'aime en apprendre davantage sur les infrastructures réseaux et comment les manipuler."
    image: /images/hero.svg
    bottomImage:
      enable: true
    # roundImage: true # Make hero image circular | default false
    button:
      enable: true
      name: "Resume"
      url: "#"
      download: true
      newPage: false
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://example.com
        - icon: fab fa-x-twitter
          url: https://example.com
      customIcons:
        - icon: /fav.png
          url: "https://example.com"

  # About
  about:
    enable: true
    title: "A propos de moi"
    image: "/images/me.png"
    content: |-
      Je suis étudiante en BTS SIO option SISR avec un bac général Mathématique et NSI. Je sais programmer dans différents langages.
      Je suis sensibilisée à la cybersécurité et à la protections des données.
      J'apprends en optionà manipuler des machines virtuelles, avec comme OS Linux & Windows, avec Oracle.
    skills:
      enable: true
      title: "Voici différents langages parmi lesquels j'ai un minimum d'exprerience: "
      items:
        - "HTML"
        - "CSS"
        - "C#"
        - "Python"
        - "PhP"

  # Experience
  experience:
    enable: true
    title: "Stage;"
    items:
     
      - company: "Ehpad de Montier-en-Der"
        companyUrl: "https://ght-coeurgrandest.fr/les-etablissements/ch-de-montier-en-der/"
        jobs:
          - name: "Stage de troisième"
            date: "Mars 2022"
            info:
              content: Stage d'observation d'une semaine
            content: |
              Ce stage ma apporté de la patience et un contexte professionnel pour la première fois. N'est pas la branche de métier que je veux faire plus tard mais reste intéressanes quant aux savoirs apportés.

      - company: "JESAISPASFREHRIRGE"
        companyUrl: "https://example.com"
        jobs:
        - name: "Stage de première année de BTS SIO"
          date: "Mai 2026 - Juin 2026"
          content: |
              Laissez moi le trouver déjà

      - company: "Encore moins"
        companyUrl: "Stage de deuxième année de BTS SIO"
        jobs:
        - name: "Product Designer"
          date: "Janvier 2027 - Février 2027"
          content: :p

  # Education
  education:
    enable: true
    title: "Diplomes"
    index: false
    items:
      - title: "Baccalauréat série Géneral"
        school:
          name: "Lycée Charles de Gaulle, Chaumont"
          url: "https://example.org"
        date: "2024 - 2025"
        content: |-
          Spécialités:
            - Mathématiques
            - NSI
            - Physique Chimie, Abandon en Terminale
            - Section Européenne, Anglais. 
      - title: "SecNumAcademie"
        school:
          name: "Massachusetts Institute of Technology"
        date: "2026"
        content: |-
          Extracurricular Activities
            - Lorem ipsum dolor sit amet consectetur adipisicing elit.
      - title: "Mooc CNIL"
        school:
          name: "Massachusetts Institute of Technology"
        date: "2025"
        content: |-
          Extracurricular Activities
            - Lorem ipsum dolor sit amet consectetur adipisicing elit.

  # projects
  projects:
    enable: true
    # title: "Custom Name"
    items:
      - title: Nuit du Code
        content: Créer un jeu sur python, en 6 heures, en groupe de 3 ou 2, avec pygame.
        image: /images/projects/profile.png
        badges:
          - "Python"

      - title: Journée de la NSI
        content: Créer des activités pour une journée. Sensibilisé à l'informatiques et à la spécialité NSI aux collégiens. N'a pas vu le jour.
        image: /images/projects/converter.jpg
        badges: 
          - "Scratch"
          - "Python"

  #Contact
  contact:
    enable: true
    # title: "Custom Name"
    content: Voici mon adresse si vous voulez me contacter, j'essaierai de répondre le plus tôt possible.
    btnName: Mon adresse e-mail
    btnLink: mailto:camille.sehy@gmail.com
    # formspree:
    #   enable: true # `contact.email` value will be ignored
    #   formId: abcdefgh # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
    #   emailCaption: "Enter your email address"
    #   messageCaption: "Enter your message here"
    #   messageRows: 5

  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: true
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com
      linkedin: https://linkedin.com
      twitter: https://twitter.com
      instagram: https://instagram.com
      facebook: https://facebook.com

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    socialShare: true
    readTime:
      enable: true
      content: "min read"
    scrollprogress:
      enable: true
    tags:
      openInNewTab: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: "Jan 2, 2006"
    articleList: "Jan 2, 2006"
    articleRecent: "Jan 2, 2006"

  #customScripts: -| # You can add custom scripts which will be added before </body> tag
  #  <script type="text/javascript"><!-- any script here --></script>
